<td-layout style="background-color: transparent">
  <td-navigation-drawer sidenavTitle="Navigation">
    <mat-nav-list>
        <a routerLink="base-stats" mat-list-item [tdLayoutClose]="true" ><mat-icon>person</mat-icon>Base Stats</a>
        <a routerLink="special-skills" mat-list-item [tdLayoutClose]="true"><mat-icon>fitness_center</mat-icon>Special Skills</a>
      <a routerLink="listing" mat-list-item [tdLayoutClose]="true"><mat-icon>people</mat-icon>Player List</a>
    </mat-nav-list>
    <mat-list>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [(ngModel)]="player.data.base.goal" (ngModelChange)="onChange($event)">Goal</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </td-navigation-drawer>
  <td-layout-nav>
    <div td-toolbar-content [tdLayoutToggle]="true"  style="height: 100%;width: 100%">
      <div>

      </div>
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
