<div class="container-fluid">
  <div class="row search-bar">
    <div class="col-sm">
      <div class="form-group" style="background-color: white">
        <input type="search" (keyup)="search($event)" class="form-control" placeholder="filter by name, title and rarity : ie. tsuba aura ssr">
        <div style="text-align: center">Player data from <a href="https://docs.google.com/spreadsheets/d/1E9rwAbRXrU2wjjMe6521z2HxMQnPKdVY8RfVzxzCzyE/edit#gid=1350264033">@nothingxs</a></div>
      </div>
    </div>
  </div>
  <div class="row search-result">
    <ng-container *ngFor="let player of players; let i = index">
      <div class="w-100 d-sm-none" *ngIf="i%3===0"></div>
      <div class="col-sm-6 col-lg-4 col-xl-3 col-md-6 col-sm" style="margin-bottom: 15px;" [routerLink]="['/base-stats', player._id]">
        <div class="card" ngClass="class-{{ player._source.class }}">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;"><img class="type-icon" src="../../../../assets/type-{{ player._source.type }}.png "/>{{ player._source.name }}</h5>
            <p class="card-text"><i>{{ player._source.title }}</i></p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
