.search-bar {
  position:fixed;
  width:100%;
  top: 130px;
  z-index: 999;
}

.search-result {
  position: relative;
  top: 65px;
}

.search-result .card {
  cursor: pointer;
}

@media (orientation: portrait) {
  .search-bar {
    top: 105px;
  }
}

.card {
  background-position: 0 0;
  background-repeat: no-repeat;
  width:100%;
  text-align: right;
}

.class-R {
  background-image: url('../../../../assets/class-r.png');
}

.class-SSR {
  background-image: url('../../../../assets/class-SSR.png');
}


.class-SR {
  background-image: url('../../../../assets/class-SR.png');
}


.class-UR {
  background-image: url('../../../../assets/class-UR.png');
}

.type-icon {
  margin-right: 5px;
}
